<div id="home-div-card">
    <mat-card>
      <mat-card-header style="align-items:center;">
        <img
          width="50"
          height="50"
          src="https://img.icons8.com/dusk/50/workflow.png"
          alt="workflow"
        />
        &nbsp; <span class="dashboard-title">Dashboard | Welcome {{userName}} !</span>
      </mat-card-header>
      <hr>
      <mat-card-content>
        <div class="announcement-grid">
          <!-- Announcement 1 -->
          <mat-card class="task-card">
            <mat-card-header>
              <img width="40" height="40" src="https://img.icons8.com/dusk/40/new-job.png" class="announcement-icon" alt="home"/>
              <span class="announcement-title">New Recruitment</span>
            </mat-card-header>
            <mat-card-content>
              Details about available recruitment will be displayed here.
              <ul style="padding: 0px;">
                <ul> <b> Bring your Budy :</b><br>
                    <li>Hiring 3-15 Yrs. experience IT professionals with following skills :</li>
                    <li>Backend Developer - Java,Spring Boot</li>
                    <li>Frontend Developer - Angular</li>
                </ul>
                <hr>
                <ul><b>Intern Hiring :</b><br>
                    <li>Hiring CSE students, for 6 months</li>
                    <li>Criteria : Candidate should be in final year CS/IT engineering course. </li>
                    <li>Note: Internship opportunity will be unpaid.</li>
                </ul>
             </ul>
            </mat-card-content>
          </mat-card>
          <!-- Announcement 2 -->
          <mat-card class="task-card">
            <mat-card-header>
              <img width="40" height="40" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/40/external-achievement-job-search-flaticons-lineal-color-flat-icons.png" class="announcement-icon" alt="home"/>
              <span class="announcement-title">New Highlights</span>
            </mat-card-header>
            <mat-card-content>
              Highlighted achievements and updates will be shown here.
              <ul style="padding: 0px;">
                <ul> <b> Product and platform Talent Development :</b><br>
                    <li><b>FY24 Star learner award goes to - Jayesh Patil</b> </li>
                    <li>Would you like to see yourself in the list next quater? then it's high time to get started.</li>
                    <li>Note : Star learner award winners for a given quarter will not be considered for award in immediate next quarters.</li>
                </ul>
             </ul>
            </mat-card-content>
          </mat-card>
          <!-- Announcement 3 -->
          <mat-card class="task-card">
            <mat-card-header>
              <img width="40" height="40" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/40/external-hall-of-fame-baseball-flaticons-lineal-color-flat-icons.png" class="announcement-icon" alt="home"/>
              <span class="announcement-title">Hall of Fame</span>
            </mat-card-header>
            <mat-card-content>
              Outstanding performers and teams will be highlighted here.
              <ul>
                <li><b> Elevate Wings Award</b>- Utkarsh patik</li>
                <li><b> Special Initiative Award</b>- Yogesh Godbole</li>
                <li><b> Elevate Wings Award</b>- Anjan Mopadevi</li>
                <li><b> Star Team Award</b>- Jayesh Patil</li>
                <li><b> Service & Commitment Award</b>- Akash Dayma</li>
                <li><b> Fresco Play Miles Award</b>- Jayesh Patil</li>
              </ul>
            </mat-card-content>
          </mat-card>
          <!-- Announcement 4 -->
          <mat-card class="task-card">
            <mat-card-header>
              <img width="40" height="40" src="https://img.icons8.com/dusk/40/event-accepted.png" class="announcement-icon" alt="home"/>
              <span class="announcement-title">Project Events</span>
            </mat-card-header>
            <mat-card-content>
                Information about upcoming project events will be available here.
             <ul style="padding: 0px;">
                <ul> <b> Fit4life Corporate Challenge :</b><br>
                    <li>Date: January 19, 2025</li>
                    <li>Location: Institute of Science, Nagpur</li>
                    <li>Distance: 5 km and 10 km</li>
                </ul>
                <hr>
                <ul><b>Secret Santa event :</b><br>
                    <li>Date: December 25, 2024</li>
                    <li>Location: BaNCS Project ODC , Nagpur</li>
                    <li>Note: take chit & submit gift before 20 December</li>
                </ul>
             </ul>
            </mat-card-content>

          </mat-card>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
  